{% extends 'base.html' %}

{% block body %}
  

  

  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <div class="page-title probootstrap-animate">
              <div class="probootstrap-breadcrumbs">
                <a href="#">Inicio</a><span>Acerca</span>
              </div>
              <h1>Contacto</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url('static/img/slider_1.jpg');"></li>
      <li style="background-image: url('/static/img/slider_4.jpg');"></li>
      <li style="background-image: url('/static/img/slider_2.jpg');"></li>
    </ul>
  </section>
  <!-- END: slider  -->
  
  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <form method="post" class="probootstrap-form mb60">
            {% csrf_token %}
            {{contacto_form}}
            <div class="form-group">
              <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Enviar Mensaje">
            </div>
          </form>
        </div>
        <div class="col-md-3 col-md-push-1">
          <h4>Detalles de Contacto</h4>
          <ul class="with-icon colored">
            <li><i class="icon-location2"></i> <span>Terragona 1910, Las Condes Region Metropolitana</span></li>
            <li><i class="icon-phone2"></i><span>{{contactodetalles.numero_contacto}}</span></li>
          </ul>

          <h4>Retroalimentación</h4>
          <p>Nuestro lema es siempre mantener contacto cercano con nuestros clientes, de manera tener una constante mejora continua de nuestros servicios .</p>
          <p><a href="#">aprende más...</a></p>
        </div>
      </div>
    </div>
  </section>  
  <div id="map"></div>
  
  {% endblock body %}
  
