
{% extends 'base.html' %}


{% block body %}
  

  

  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <div class="page-title probootstrap-animate">
              <div class="probootstrap-breadcrumbs">
                <a href="#">Inicio</a><span>Acerca</span>
              </div>
              <h1>Acerca de Nosotros</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url('/static/img/slider_1.jpg');"></li>
      <li style="background-image: url('/static/img/slider_4.jpg');"></li>
      <li style="background-image: url('/static/img/slider_2.jpg');"></li>
    </ul>
  </section>
  <!-- END: slider  -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="row heading">
        <div class="col-md-12"><h2 class="mt0 mb50 text-center">Nuestra Empresa</h2></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p><img src="{{acerca.imagen.url}}" class="img-responsive" alt="Free Bootstrap Template by uicookies.com"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>Nuestra Misión</h2>
          <p> {{acerca.mision}}</p>
        </div>
        <div class="col-md-6">
          <h2>Nuestra Visión</h2>
          <p> {{acerca.vision}}</p>
        </div>
      </div>
    </div>
  </section>





  {% endblock body %}
