{% extends 'base.html' %}

{% block body %}

  
  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <div class="page-title probootstrap-animate">
              <div class="probootstrap-breadcrumbs">
                <a href="#">Inicio</a><span>Agentes</span>
              </div>
              <h1>Agentes</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url('/static/img/slider_1.jpg');"></li>
      <li style="background-image: url('/static/img/slider_4.jpg');"></li>
      <li style="background-image: url('/static/img/slider_2.jpg');"></li>
    </ul>
  </section>
  <!-- END: slider  -->
  
  <section class="probootstrap-section probootstrap-section-lighter">
    <div class="container">
      <div class="row heading">
        <h2 class="mt0 mb50 text-center">Nuestros Agentes</h2>
      </div>
      <div class="row">

        {% for agente in lista_agente %}
          
          <div class="col-md-3 col-sm-6">
            <div class="probootstrap-card probootstrap-person text-left">
              <div class="probootstrap-card-media">
                <img src="{{agente.imagen.url}}" class="img-responsive" alt="Free HTML5 Template by uicookies.com">
              </div>
              <div class="probootstrap-card-text">
                <h2 class="probootstrap-card-heading mb0">{{agente.nombre }}</h2>
                <p><small>{{agente.titulo }}</small></p>
              </div>
            </div>
          </div>

        {% endfor %}


      </div>
    </div>
  </section>


  
  {% endblock body %}