{% extends 'base.html' %}

{% block body %}
  

  
  <!-- END: header -->
  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <div class="page-title probootstrap-animate">
              <div class="probootstrap-breadcrumbs">
                <a href="#">Inicio</a><span>Propiedades</span>
              </div>
              <h1>Propiedades</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url('/static/img/slider_1.jpg');"></li>
      <li style="background-image: url('/static/img/slider_4.jpg');"></li>
      <li style="background-image: url('/static/img/slider_2.jpg');"></li>
    </ul>
  </section>
  <!-- END: slider  -->

  <section class="probootstrap-section probootstrap-section-lighter">
    <div class="container">
      <div class="row">
        {% if lista_propiedad %}
          
          {% for propiedad in lista_propiedad %}
            <div class="col-md-4 col-sm-6">
              <div class="probootstrap-card probootstrap-listing">
                <div class="probootstrap-card-media">
                  <img src="{{propiedad.imagen.url}}" class="img-responsive" alt="Free HTML5 Template by uicookies.com">
                </div>
                <div class="probootstrap-card-text">

                  <h2 class="probootstrap-card-heading"><a href="{% url 'propiedad:detalles_propiedad' propiedad.id %}">{{propiedad}}</a></h2>
                  <div class="probootstrap-listing-location">
                    <i class="icon-location2"></i> <span>Parinacota 1692, Las Condes</span>
                  </div>
                  <div class="probootstrap-listing-category for-sale"><span>for {{propiedad.tipo_propiedad}}</span></div>
                  <div class="probootstrap-listing-price"><strong>${{propiedad.precio}}</strong> / mes</div>
                </div>
                <div class="probootstrap-card-extra">
                  <ul>
                    <li>
                      Area
                      <span>{{propiedad.area}} m2</span>
                    </li>
                    <li>
                      Camas
                      <span>{{propiedad.numero_camas}}</span>
                    </li>
                    <li>
                      Baños
                      <span>{{propiedad.numero_banos}}</span>
                    </li>
                    <li>
                      Estacionamientos
                      <span>{{propiedad.numero_estacionamiento}}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- END listing -->
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-10 col-sm-10">
            <h2>No Propiedades con ese nombre o tipo</h2>
          </div>
        {% endif %}

      </div>
    </div>
  </section>

  



  {% endblock body %}